p {
	color: rgb(0, 0, 0);
}

h1 {
	color: white;
	text-shadow: blue 1px 0 10px;;
	border: 5px solid red;
	background-color: aqua;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: orange;
	background: linear-gradient(90deg,white,#ffefaf);
}
h3 {
	background-color: skyblue;
}