p {
	color: rgb(0, 0, 0);
}

h1 {
	color: white;
	text-shadow: rgb(76, 0, 255) 1px 0 10px;;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #00d0ff;
	background: linear-gradient(90deg,white,#ffefaf);
}